@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Satoshi";
    font-display: swap;
    src: url(./fonts/Satoshi-Variable.ttf);
  }
}

html {
  font-family: "Satoshi", sans-serif;
  color: rgba(98, 98, 98, 1);
}

/* html,
body {
  height: 100%;
} */
